footer {
    margin-top: 40px;
    width: 100%;
    background-color: rgb(20, 0, 0); /* colour of the footer */
    color: white;
}

#footer-style {
    display: flex;
    justify-content: space-between;
    padding: 40px 50px;
    flex-wrap: wrap;
}

#footer-space{
    background-color: rgb(20, 0, 0);
    width: 10%;
}
.footer-section {
    flex: 1 1 200px; /* Flexibility of footer */
    margin: 10px;
}

.footer-section h2, .footer-section h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: rgb(240, 70, 84); /* Color for main headers */
}
/* the main text and links to other pages. */
.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    color: white; /* colour for main text*/
    text-decoration: none;
    font-size: 14px;
}

.footer-section ul li a:hover {
    text-decoration: underline; /* underline once hovered */
}

.footer-button { /* the button for log in and sign up */
    background-color: rgb(240, 70, 84);
    color: white;
    border: none;
    padding: 10px 40px;
    margin: 10px 0;
    cursor: pointer;
    font-size: 14px;
}

.footer-button:hover { /* will change colour when mouse is hovered */
    background-color: rgb(255, 255, 255);
    color: rgb(240, 70, 84);
}

#line { /* just the red line for aesthetic */
    margin-bottom: 20px;
    width: 90%;
    height: 2px;
    background-color: rgb(240, 70, 84);
}
.footer-section h4{ /* small text at the bottom */
    font-size: small;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}