/*
class (repeated on page) = .
id (single use per page) = #
*/

/* MAIN COLORS:
white
off-black = rgb(20,0,0)
grey (same as body) = rgb(213, 213, 213)
red = rgb(240, 70, 84)

CONTENT SHOULD HAVE MARGIN OF 3% ON LEFT AND RIGHT
*/

/***************************** 
    IMPORTED FONTS
*****************************/
/* TODO decide fonts
    import fonts here
    dont need all fonts (probably only need 3)
    let me know if you want a font removed
*/
/* variable font */
@font-face {
    font-family: "AfacadFlux";
    src: url(../fonts/AfacadFlux-VariableFont_slnt\,wght.ttf);
    font-weight: normal;
}
/* variable font */
@font-face {
    font-family: "DMSans";
    src: url(../fonts/DMSans-VariableFont_opsz\,wght.ttf);
    font-weight: normal;
}
/* variable font */
@font-face {
    font-family: "SUSE";
    src: url(../fonts/SUSE-VariableFont_wght.ttf);
    font-weight: normal;
}
/* static font */
@font-face {
    font-family: "Barlow Semi Condensed";
    src: url(../fonts/BarlowSemiCondensed-Regular.ttf);
    font-weight: normal;
}

/***************************** 
    RESET
*****************************/
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "AfacadFlux", Arial, Helvetica, sans-serif;
}
html {
    width: 100%;
    scroll-behavior: smooth;
}
body {
    width: 100%;
    background-color: rgb(213, 213, 213);
}
a {
    text-decoration: none; /* removes hyperlink underline */
    color: black;
}
ul {
    list-style-type: none; /* removes dots from list items */
}
li {
    list-style: none;
}
img {
    max-width: 100%;
    object-fit: cover; /* keep image aspect ratio and displays center */
}

/***************************** 
    NAV BAR/DROP-DOWN MENU (part of testing)
*****************************/
@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
}

/* @media screen and (min-width: 992px) {
    nav {
        display: block;
    }
} */

/* hides nav bar on smaller screens (for mobile) */
/* @media screen and (max-width: 992px) {
    nav {
        display: none;
    }    
} */


h2 {
    font-family: "DMSans", Arial, Helvetica, sans-serif;
    font-size: 35px;
    margin-bottom: 15px;
    text-transform: uppercase; /* always uppercase */
}
h3 {
    font-family: "DMSans", Arial, Helvetica, sans-serif;
    font-size: 100px;
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase; /* always uppercase */
}

/***************************** 
    HEADER
*****************************/
header {
    width: 100%;
    height: 100px;
    top: 0;
    position: sticky;
    margin-bottom: 20px;
    z-index: 1; /* header and nav are over all other content */

    /* TODO choose header bar colour (gradient makes nav bar look weird?) */
    background-color: rgb(20, 0, 0);
    /* background-image: linear-gradient(150deg, rgb(20,0,0) 80%, rgb(65,0,0) 85%, rgb(128,0,0) 90%, rgb(255,255,255) 100%); */

    /* FIXME remove shadow when at top only */
    box-shadow: 0 1px 10px black;

    #header-wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;

        #main-logo {
            width: 20%;
            color: white; /* makes alt text is visible */
            img {
                margin: 7.5px 0 0 20px;
                min-height: 60px;
                min-width: 180px;
                height: 60px;
                width: 180px;
            }
        }

        #header-items {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;
            margin: 0 4% 0 4%;
            a {
                transition: 0.2s;
                margin: 0 20px 0 20px;
                /* FIXME center text (vertical) */
                img {
                    min-height: 40px;
                    min-width: 40px;
                    height: 40px;
                    width: 40px;
                    color: white; /* makes alt text visible */
                }
                /* FIXME center text (vertical) */
                p {
                    height: 40px;
                    width: 70px;
                    text-align: center;
                    font-family: "Barlow Semi Condensed", Arial, Helvetica, sans-serif;
                    font-size: 22px;
                    color: white;
                }
            }
            a:hover {
                transition: 0.4s;
                background-color: rgb(255,255,255);
                img {
                    color: rgb(240, 70, 84); /* makes alt text visible */
                }
                p {
                    color: rgb(240, 70, 84);
                }
            }
        }
    }

/***************************** 
    NAV BAR
*****************************/
    nav {
        width: 100%;
        height: 25px;
        letter-spacing: 5px;
        bottom: 0;
        position: absolute;
        background-color: rgb(128, 128, 128);

        ul {
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
            overflow: hidden; /*text cuts off if it cannot fit*/
            
            a {
                padding: 0 10px 0 10px;
                flex: 1 1;
                color: black;
                text-align: center;
                transition: 0.2s;

                li {
                    height: 100%;
                    text-align: center;
                    font-family: "Barlow Semi Condensed", Arial, Helvetica, sans-serif;
                    font-size: 18px;
                }
            }

            /* category border */
            a::after {
                content: "";
                width: 1px;
                height: 20px;
                top: 0;
                background-color: black;
                display: block;
                position: absolute;
                transform: translate(-10.5px, 2.5px); /* align border between categories */
                transition: 0.2s;
            }
            /* removes border line at edge page ( */
            a:first-child::after {
                content: none;
            }

            a:hover {
                background-color: white;
                color: rgb(240, 70, 84);
                transition: 0.1s 0.2s;
            }
            /* border fills whole nav bar height */
            a:hover::after {
                height: 25px;
                transform: translate(-10.5px, 0);
                transition: 0.1s 0.2s;
            }
        }
    }
}

/***************************** 
    FOOTER
*****************************/


/***************************** 
    BACK TO TOP BUTTON
*****************************/
/* FIXME only show button past certain scroll point */
#back-to-top {
    height: 45px;
    width: 50px;
    position: fixed;
    bottom: 7%;
    right: 5%;
    z-index: 1; /* on top of all other content */
    font-family: "Barlow Semi Condensed", Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-indent: 5px; /* adjusts text to be in center (must be equal to letter-spacing) */
    letter-spacing: 5px;
    text-align: center;
    line-height: 65px; /* text at bottom of button */
    background-color: rgb(20,0,0);
    color: white;
    box-shadow: 0 1px 5px rgb(128, 128, 128);
}
#back-to-top:hover {
    cursor: pointer;
}
/* FIXME fix line positions */
#back-to-top::before, #back-to-top::after {
    content: "";
    position: absolute;
    width: 52%;
    height: 2px;
    top: 11px;
}
#back-to-top::before {
    background-color: white;
    transform: rotate(-35deg);
    left: 3px;
}
#back-to-top::after {
    background-color: rgb(240, 70, 84);
    transform: rotate(35deg);
    right: 3px;
}

/***************************** 
    CONTENT SEPARATOR LINE
*****************************/
.content-separate {
    position: relative;
    width: auto;
    height: 20px;
    padding: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px;
    .content-separate-box {
        height: 10px;
        width: 20px;
        align-items: center;
        border: 2px solid black;
    }
    .content-separate-box::before, .content-separate-box::after {
        content: "";
        display: inline-block;
        position: relative;
        height: 1px;
        width: calc(100% + 4px);
        background-color: black;
    }
    .content-separate-box::before {
        left: -1px;
        top: -10px;
        rotate: 27deg;
    }
    .content-separate-box::after {
        left: -2px;
        top: -32px;
        rotate: -27deg;
    }
}
.content-separate::before, .content-separate::after {
    content: "";
    position: absolute;
    /* FIXME width calculated so distance away from rect is consistent */
    width: 43%;
    height: 1.6px;
    background: black;
    vertical-align: middle;
}
.content-separate::before {
    left: 3%;
}
.content-separate::after {
    right: 3%;
}

/***************************** 
    MAIN IMAGE ON HOMEPAGE
*****************************/
#home-main {
    margin-top: -20px; /* ignores header margin */
    margin-bottom: 20px;
    img {
        background-color: white;
        min-height: 600px;
        min-width: 100%;
        height: 600px;
        width: 100%;
    }
}

/***************************** 
    FEATURED PRODUCTS LIST
*****************************/
#featured-products-list {
    margin: 0 3% 0 3%;
}

/***************************** 
    PRODUCTS LIST
*****************************/
.products-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 400px;
    width: 100%;
    left: 10%;
    overflow: hidden;
    justify-content: center;

    .single-product {
        height: 100%;
        width: 300px;
        margin: 10px;
        padding: 10px;
        background-color: white;
        font-size: 20px;
        img {
            background-color: rgb(213, 213, 213);
            min-height: 50%;
            min-width: 100%;
            height: 50%;
            width: 100%;
        }
        .product-title {
            font-size: 25px;
        }

        /* FIXME position price and size at bottom*/
        .product-price {
            inline-size: 1000px;
        }
        .product-size {
            bottom: 10px;
        }
    }
}

/***************************** 
    Men, Women, Kids trapezoids on Homepage
*****************************/
#section{
    background-color: rgb(213, 213, 213);
    height: 600px;
    width: 100%;
    position: relative;
    float:left;
    display: flex;
 }

.trapezoid1 {
    position: absolute;
    top: 20px;
    left: 1.5%;
    width: 35.5%;
    height: 470px;
    clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 0% 100%);
    overflow: hidden; 
    background-color:#d10000;
}

.trapezoid2 {
    position: absolute;
    top: 70px;
    left: 28.1%;
    margin: 20px;
    width: 40.5%;
    height: 472px;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    overflow: hidden; 
    background-color:#ff9be1 ;
}
.trapezoid3 {
    position: absolute;
    top: 0px;
    left: 62.6%;
    margin-top: 20px;
    width: 35.5%;
    height: 470px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 25% 100%);
    overflow: hidden; 
    background-color:#7d0075 ;
}
.trapezoid1-rectangle{
    position: absolute;
    top: 490px;
    left: 1.5%;
    width: 26.65%;
    height: 70px;
    clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 0% 100%);
    overflow: hidden; 
    background-color:#a79218;
}
.trapezoid2-rectangle{
    position: absolute;
    top: 20px;
    left: 37.8%;
    width: 24.3%;
    height: 70px;
    clip-path: polygon(5% 0%, 95% 0%, 100% 100%, 0% 100%);
    overflow: hidden; 
    background-color:#c885f5;
}
.trapezoid3-rectangle{
    position: absolute;
    top: 490px;
    left: 71.5%;
    width: 26.65%;
    height: 70px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 5% 100%);
    overflow: hidden; 
    background-color:#c1008a;
}
.trapezoid-button {
    background-color: #000000;
    border: 0;
    color: #ffffff;
    width: 100%;
    height: 70px;
    font-size: 30px;
    cursor: pointer;
  }

.trapezoid-button:hover {
    background-color: rgb(240, 70, 84);
    color:#ffffff;
    transition: .2s;
} 
/***************************** 
    BACK TO TOP BUTTON
*****************************/
#mens-main {
    margin: 0 3% 0 3%;
}

/***************************** 
    ABOUT US
*****************************/

.aboutus-box{
    height: 120px;
    width: 35%;
    background-color: rgb(213, 213, 213);
    display: flex;
    color: white;
    position: absolute;
    padding: 10px;
}
.about-us-1 {
    height: 400px;
    width: 94%;
    margin: 0 3% 0 3%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
     img {
        margin: 10px;
        min-height: 90%;
        min-width: 31%;
        height: 90%;
        width: 31%;
        background-color: white;
    } 
}
/* FIXME position image to right */
.about-us-2 {
    img {
        right: 0;
    }
}

.imagebox{
    margin: 10px;;
    height: 90%;
    width: 31%;
    background-color: white;
    position: relative;
}

.aboutus-box2{
    margin: 10px;;
    height: 90%;
    width: 40%;
    background-color: white;
    position: relative;
}