header {
    
    padding: 10px;
    text-align: left, top;
    background: #1abc9c;
    color: white;
    font-size: 20px;
  }


  option{

    padding: 10px;
    text-align: center, top;
    max-width: 20px;

  }

