/* TODO move to style.css */


footer {
    margin-top: 40px;
    width: 100%;
    background-color: rgb(20, 0, 0);
    color: white;
}

#footer-style {
    display: flex;
    justify-content: space-between;
    padding: 40px 50px;
    flex-wrap: wrap;
}

#footer-space{
    background-color: rgb(20, 0, 0);
    width: 10%;
}

.footer-section {
    flex: 1 1 200px; /* Flexibility of footer */
    margin: 10px;
    h2, h3 {
        margin-bottom: 10px;
        font-size: 18px;
        color: rgb(143, 42, 42);
    }
}

.footer-section ul li {
    margin-bottom: 5px;
    a {
        color: white;
        font-size: 14px;
    }
    a:hover {
        text-decoration: underline;
    }
}

.footer-button {
    background-color: rgb(128, 0, 0);
    color: white;
    border: none;
    padding: 10px 40px;
    margin: 10px 0;
    cursor: pointer;
    font-size: 14px;
}

.footer-button:hover {
    background-color: white;
    color: rgb(128, 0, 0);
}

#line {
    margin-bottom: 20px;
    width: 90%;
    height: 2px;
    background-color: rgb(128, 0, 0);
}
.footer-section h4{
    /* FIXME font size in px */
    font-size: small;
    /* FIXME change font to be consistent */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}