/* FIXME organise sections */
/* TODO check style is consistent */

/* Item carousel */

#carouselContainer {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

#carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    flex: 0 0 33.3333%;
    padding: 10px;
    box-sizing: border-box;
}

.carousel-item img {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Rounds the corners of images */
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.carousel-button.prev {
    left: 0;
}

.carousel-button.next {
    right: 0;
}

.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}





/***************************** 
    PRODUCT VIEW
*****************************/
#singleProduct {
    margin-top: 100px;
    display: flex;
    justify-content:left; 
    margin-bottom: 100px;
}

#preview {
    margin-right: 20px;
    margin-left: 20px;

}

#mainView {
    flex: left; 
    margin-right: 100px; 
}



#productInfo {
    flex: 1 0 200px; 
    display:flex;
    flex-direction:column;
    
         
}

.productName{

    font-size: 40px;
    
}


.price {
    
    font-size: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid grey;
    width: 250px;
    
}

.colourTitle{
    font-size: 10px;
    margin-top: 10px;
}

.thumbnail{
    width: 500px;
    height: 500px;


}

.thumb {
    border: 2px solid #000000;
    border-radius: 5px;
    margin-bottom: 25px;
    padding: 0px;
    width: 90px;
    height: 90px;
    
  }

.colours{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;

  }

.colour{
    width: 30px;
    height: 20px;
    border: 2px solid black;
    margin-right: 20px;
   

}

.red{
    background-color: red;

}

.yellow{
    background-color: yellow;

}

.blue{
    background-color: blue;

}

.white{
    background-color: white;

}

.black{
    background-color: black;

}

.sizes{
    display: flex;
    margin-top: 10px;
    margin-bottom: 50px;

  }

.size{
    width: 30px;
    height: 20px;
    border: 1px solid black;
    margin-right: 20px;
    text-align: center;
    background-color: rgb(178, 178, 178);
    font-size: 12px;
    line-height: 20px;
}

.Btn1{
    font-size: 20px;
    color: white;
    font-weight: bold;
    padding: 10px 10px 10px;
    background-color: rgb(128, 0, 0);
    width: 250px;
    margin-bottom: 25px;
    border: 2px solid black;
    text-align: center;
}

.Btn1:hover{
    background-color: rgb(113, 0, 0);
}

.Btn2{
    font-size: 20px;
    color: white;
    font-weight: bold;
    padding: 10px 10px 10px;
    background-color: rgb(42, 218, 200);
    width: 250px;
    margin-bottom: 25px;
    border: 2px solid black;
    text-align: center;
}

.Btn2:hover{
    background-color: rgb(35, 192, 176);
}

